a:hover {
    background-color: dimgray;
}

a {
    text-decoration: none;
    display: block;
    width: 80px;
}

body {
    padding: 0px;
    margin: 0px;
}

.top {
    font-size: 55px;
    text-align: center;
    background: cyan;
}

.a {
    width: 15%;
    background: palevioletred;
    vertical-align: top;
}

.center {
    text-align: center;
}

.b{
    border: 1px solid black;
    border-collapse: collapse;
    /* margin: 0 auto; */
    width: 80%;
}

.c {
    font-size: 20px;
    font-weight: bold;
}

.d:first-letter {
    text-indent: 2em;
    font-size: 32px;
}
#cc tr td:last-child::before{
    content:'$';
}
dl{
    list-style-type: none;
    margin: 0;
    padding: 0;
}