ul{list-style-type: none;
    margin: 0;
    padding: 0;
    width: 400px;
    background-color: white;
    border: 1px solid black;}




li
{
    display:inline;
    float:left;
}


a
{
    display:block;
    width:60px;
}